%div{:id=>"drag"}
%script{:type => "text/javascript", :src  => "/js/underscore.js"}
%script{:type => "text/javascript", :src  => "/js/jquery-1.6.2.min.js"}
%script{:type => "text/javascript", :src  => "/js/jquery-ui.js"}
%script{:type => "text/javascript", :src  => "/js/raphael-1.5.2.min.js"}
%script{:type => "text/javascript", :src  => "/js/drag-#{@id}.js"}
